@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
    font-family: 'Playfair', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}

a {
    color: #4586FF;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #4586FF;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: #000;
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection {
    color: #fff;
    background: #4586FF;
}

::-moz-selection {
    color: #fff;
    background: #4586FF;
}

::selection {
    color: #fff;
    background: #4586FF;
}

.colorlib-nav {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .colorlib-nav {
        margin: 0;
    }
}

.colorlib-nav .top {
    display: block;
    background: #302939;
    padding: .8em 0;
}

.colorlib-nav .top p {
    color: white;
    margin: 0;
}

.colorlib-nav .top .num {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .colorlib-nav .top .num {
        display: none;
    }
}

.colorlib-nav .top .colorlib-social {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 20px;
}

.colorlib-nav .top .colorlib-social li a {
    color: #4586FF;
    padding: 4px 7px;
}

.colorlib-nav .top-menu {
    padding: 7px 30px;
}

@media screen and (max-width: 768px) {
    .colorlib-nav .top-menu {
        padding: 28px 1em;
    }
}

.colorlib-nav #colorlib-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.colorlib-nav #colorlib-logo a {
    position: relative;
    color: #000;
}

.colorlib-nav #colorlib-logo a i {
    position: absolute;
    top: 4px;
    left: 0;
    color: #4586FF;
}

.colorlib-nav #colorlib-logo a>img {
    height: 50px;
    width: 260px;

}

@media screen and (max-width: 768px) {
    .colorlib-nav .menu-1 {
        display: none;
    }
}

.colorlib-nav ul {
    padding: 0;
    margin: 8px 0 0 0;
}

.colorlib-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 400;
}

.colorlib-nav ul li a {
    position: relative;
    font-size: 15px;
    padding: 30px 12px;
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.colorlib-nav ul li a:hover {
    color: #000;
}

.colorlib-nav ul li.has-dropdown {
    position: relative;
}

.colorlib-nav ul li.has-dropdown .dropdown {
    width: 140px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #000;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.colorlib-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px;
}

.colorlib-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
}

.colorlib-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}

.colorlib-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
}

.colorlib-nav ul li.has-dropdown .dropdown li a:hover {
    color: #fff;
}

.colorlib-nav ul li.has-dropdown:hover a,
.colorlib-nav ul li.has-dropdown:focus a {
    color: #000;
}

.colorlib-nav ul li.btn-cta a {
    padding: 30px 0px !important;
    color: #fff;
}

.colorlib-nav ul li.btn-cta a span {
    background: #4586ff;
    padding: 4px 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}

.colorlib-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.colorlib-nav ul li.active>a {
    color: #000 !important;
    font-weight: bold;
    position: relative;
}

.colorlib-nav ul li.active>a:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#colorlib-counter,
.colorlib-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.colorlib-video {
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .colorlib-video {
        height: 450px;
    }
}

.colorlib-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.colorlib-video a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #F96D00;
}

.colorlib-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.colorlib-video:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
}

.colorlib-video:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#colorlib-hero {
    min-height: 650px;
    background: #fff url(../images/loader.gif) no-repeat center center;
    width: 100%;
    float: left;
}

#colorlib-hero .btn {
    font-size: 24px;
}

#colorlib-hero .btn.btn-primary {
    padding: 14px 30px !important;
}

#colorlib-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
}

#colorlib-hero .flexslider .slides {
    position: relative;
    overflow: hidden;
}

#colorlib-hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 650px;
    position: relative;
}

#colorlib-hero .flexslider .slides li .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

#colorlib-hero .flexslider .flex-control-nav {
    bottom: 10em;
    z-index: 1000;
    width: 0 auto;
}

#colorlib-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#colorlib-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: transparent;
    background: #4586FF;
}

#colorlib-hero .flexslider .flex-direction-nav {
    display: none;
}

#colorlib-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    height: 550px !important;
    z-index: 9;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner {
    height: 650px !important;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    height: 550px;
    padding: 2em;
}

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .slider-text>.slider-text-inner {
        text-align: center;
    }
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner span i {
    font-size: 24px;
    color: #F7AF1D;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h1,
#colorlib-hero .flexslider .slider-text>.slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: white;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h1 {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .slider-text>.slider-text-inner h1 {
        font-size: 28px;
    }
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h2 a {
    color: #4586ff;
    border-bottom: 1px solid rgba(69, 134, 255, 0.7);
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .heading-section {
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .slider-text>.slider-text-inner .heading-section {
        font-size: 30px;
    }
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner s .colorlib-lead {
    font-size: 20px;
    color: #F96D00;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner s .colorlib-lead .icon-heart {
    color: #d9534f;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .btn {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 20px 30px !important;
    border: none;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .btn.btn-learn {
    background: #F96D00;
    color: #fff;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .btn:hover {
    background: #000 !important;
}

@media screen and (max-width: 480px) {
    #colorlib-hero .flexslider .slider-text>.slider-text-inner .btn {
        width: 100%;
    }
}

.colorlib-light-grey {
    background: #fafafa;
}

#colorlib-dining-bar,
#colorlib-about,
#colorlib-services,
#colorlib-contact,
#colorlib-rooms,
#colorlib-testimony,
#colorlib-blog,
#colorlib-amenities,
#colorlib-subscribe,
#colorlib-footer {
    padding: 6em 0;
    clear: both;
}

@media screen and (max-width: 768px) {

    #colorlib-dining-bar,
    #colorlib-about,
    #colorlib-services,
    #colorlib-contact,
    #colorlib-rooms,
    #colorlib-testimony,
    #colorlib-blog,
    #colorlib-amenities,
    #colorlib-subscribe,
    #colorlib-footer {
        padding: 3em 0;
    }
}

.colorlib-services {
    padding: 3em !important;
}

@media screen and (max-width: 768px) {
    .colorlib-services {
        padding: .5em !important;
    }
}

.bg-primary-color {
    background: #4586FF;
}

.bg-primary-color p {
    color: #fff !important;
}

#colorlib-reservation {
    clear: both;
}

#colorlib-reservation .search-wrap {
    width: 100%;
    display: block;
    margin-top: -6.66em;
    z-index: 9;
    background: #302939;
    padding: 35px;
}

.colorlib-form label {
    font-weight: normal;
    color: white;
}

.colorlib-form .form-control {
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

.colorlib-form .form-control:active,
.colorlib-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #4586FF;
}

.colorlib-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7);
}

.colorlib-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
}

.colorlib-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7);
}

.colorlib-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
}

.colorlib-form .form-group {
    margin-bottom: 15px;
}

.colorlib-form .form-group .form-field {
    position: relative;
    padding: 0;
    margin: 0;
}

.colorlib-form .form-group .form-field .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.colorlib-form .form-group .form-field .form-control {
    padding-right: 50px;
}

.colorlib-form textarea.form-control {
    height: inherit;
    resize: vertical;
}

.colorlib-form .btn-block {
    margin-top: 28px;
    padding: 12px !important;
}

.services .icon {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #f7f7f7;
    width: 120px;
    height: 120px;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.services .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 120px;
    font-size: 60px;
    color: #4586FF;
}

.owl-carousel {
    margin-bottom: 5em;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: -40px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -5px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: 5px !important;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    right: 24px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: 0 !important;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
    color: #000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
    color: #000;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    padding: 0;
    background: #4586FF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.owl-theme .owl-controls .owl-nav [class*=owl-] i {
    border: none;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #4586FF;
}

.owl-carousel .owl-controls .owl-nav .owl-next i,
.owl-carousel .owl-controls .owl-nav .owl-prev i {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    background: #4586FF;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i {
    color: white;
}

.owl-carousel .owl-dots {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .owl-carousel .owl-dots {
        display: none !important;
    }
}

.item {
    position: relative;
    margin-bottom: 20px;
}

.item .pop-up-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(69, 134, 255, 0.8);
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.item .pop-up-overlay .desc {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: -60px;
    padding: 30px;
}

.item .pop-up-overlay .desc h3 {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.item .pop-up-overlay .desc span {
    display: block;
    color: rgba(255, 255, 255, 0.6);
}

.item .pop-up-overlay:hover,
.item .pop-up-overlay:focus {
    text-decoration: none;
}

.item:hover .pop-up-overlay,
.item:focus .pop-up-overlay {
    opacity: 1;
}

#colorlib-rooms .room-wrap {
    margin-bottom: 3em;
}

#colorlib-rooms .room {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
    display: table;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    #colorlib-rooms .room {
        height: 400px;
    }
}

@media screen and (max-width: 480px) {
    #colorlib-rooms .room {
        height: 270px;
    }
}

#colorlib-rooms .desc {
    -webkit-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    -ms-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 20px;
    padding-top: 40px;
}

#colorlib-rooms .desc .rate-star {
    margin-bottom: 20px;
    display: block;
}

#colorlib-rooms .desc .rate-star i {
    color: #fce3b1;
}

#colorlib-rooms .desc .rate-star .full {
    color: #F7AF1D;
}

#colorlib-rooms .desc h3 {
    font-size: 20px;
    margin-bottom: 0;
}

#colorlib-rooms .desc h3 a {
    color: #000;
}

#colorlib-rooms .desc .price {
    font-family: "Playfair Display", Times, serif;
}

#colorlib-rooms .desc .price span {
    color: #000;
}

#colorlib-rooms .desc .price .currency {
    font-size: 20px;
    color: #4586FF;
}

#colorlib-rooms .desc .price .currency.currency-menu {
    color: #F96D00;
    font-size: 16px;
}

#colorlib-rooms .desc .price .price-room {
    font-size: 40px;
    font-weight: 400;
    color: #4586FF;
}

#colorlib-rooms .desc .price .price-room.price-menu {
    color: #F96D00;
    font-size: 30px;
}

#colorlib-rooms .desc ul {
    margin: 0 0 40px 0;
    padding: 0;
}

#colorlib-rooms .desc ul li {
    margin-bottom: 10px;
    list-style: none;
}

#colorlib-rooms .desc .btn-book {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

.testimony {
    position: relative;
    padding: 2em;
    background: #fff;
    -webkit-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    -ms-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 768px) {
    .testimony {
        margin-bottom: 70px;
    }
}

.testimony .img-user {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.testimony .user {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.testimony small {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999;
}

.testimony blockquote {
    padding: 0;
    margin: 0 0 20px 0;
    border: none;
}

.testimony blockquote p {
    color: #000;
    font-size: 16px;
}

article {
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

article .blog-img {
    height: 400px;
    z-index: -1;
    width: 100%;
    float: left;
}

article .desc {
    padding: 3em;
    width: 90%;
    float: left;
    margin-top: -3em;
    z-index: 1;
    background: #fff;
}

article .desc h2 a {
    color: #000;
}

article .desc .meta span {
    margin-right: 10px;
}

.aside {
    margin-bottom: 4em;
}

.aside .blog-entry-side h3 {
    font-size: 20px !important;
}

.aside .category {
    margin: 0;
    padding: 0;
}

.aside .category li {
    margin-bottom: 10px;
    list-style: none;
}

.aside .category li a span {
    color: #999999;
}

.aside .colorlib-form label {
    font-weight: normal;
    color: black;
}

.aside .colorlib-form .form-control {
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: whitesmoke;
    border: 2px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
}

.aside .colorlib-form .form-control:active,
.aside .colorlib-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #4586FF;
}

.aside .colorlib-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.7);
}

.aside .colorlib-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.7);
}

.aside .colorlib-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.7);
}

.aside .colorlib-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.7);
}

.aside .colorlib-form .form-group {
    margin-bottom: 15px;
}

.aside .colorlib-form .form-group .form-field {
    position: relative;
    padding: 0;
    margin: 0;
}

.aside .colorlib-form .form-group .form-field .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.aside .colorlib-form .form-group .form-field .form-control {
    padding-right: 50px;
}

.aside .colorlib-form textarea.form-control {
    height: inherit;
    resize: vertical;
}

.aside .colorlib-form .btn-block {
    margin-top: 28px;
    padding: 12px !important;
}

.blog-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
    padding: 0 !important;
}

.blog-flex .video,
.blog-flex .blog-entry {
    width: 50%;
    display: inline-block;
}

@media screen and (max-width: 768px) {

    .blog-flex .video,
    .blog-flex .blog-entry {
        width: 100%;
    }
}

.blog-flex .video {
    display: table;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

.blog-entry {
    padding: 3em 4em;
}

@media screen and (max-width: 768px) {
    .blog-entry {
        padding: 4em 1em;
    }
}

.blog-post {
    margin-bottom: 2.5em;
    display: block;
    position: relative;
}

.blog-post .desc {
    padding-left: 110px;
}

.blog-post .desc h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

.blog-post .desc span {
    font-size: 13px;
    color: #b3b3b3;
}

.blog-post .img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.diningbar-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
    background: #f96d00;
}

.diningbar-flex .half {
    width: 50%;
    padding: 2em;
}

@media screen and (max-width: 768px) {
    .diningbar-flex .half {
        width: 100%;
        padding: 1em;
    }
}

@media screen and (max-width: 768px) {
    .diningbar-img {
        display: none;
    }
}

.diningbar-img,
.amenities-img,
.blog-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.menu-dish {
    padding: 0;
    margin: 0;
}

.menu-dish li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    position: relative;
    padding: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu-dish li:hover,
.menu-dish li:focus,
.menu-dish li.active {
    background: rgba(255, 255, 255, 0.1);
}

.menu-dish li .image,
.menu-dish li .text {
    display: table-cell;
    vertical-align: top;
}

.menu-dish li .image {
    width: 70px;
}

.menu-dish li .image img {
    max-width: 100%;
    border-radius: 50%;
}

.menu-dish li .text {
    padding-left: 20px;
}

.menu-dish li .text h3 {
    margin: 10px 0 10px 0;
    font-size: 18px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu-dish li .text h3 {
        margin-top: 0px;
    }
}

.menu-dish li .text .cat {
    color: rgba(255, 255, 255, 0.8);
}

.menu-dish li .text .price {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    font-family: "Playfair Display", Times, serif;
}

@media screen and (max-width: 768px) {
    .menu-dish li .text .price {
        top: 0px;
        position: relative;
        display: block;
        margin-bottom: 0px;
    }
}

.tab-pane {
    padding: 2em 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nav-tabs {
    border: none;
    border-bottom: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nav-tabs li {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .nav-tabs li {
        font-size: 12px;
    }
}

.nav-tabs li a {
    border: none !important;
    border-bottom: none !important;
    color: #ffa660 !important;
    background: transparent;
}

.nav-tabs li a:first-child {
    padding-left: 0;
}

.nav-tabs li a:hover,
.nav-tabs li a:focus {
    background: transparent;
    border: 1px solid red;
}

.nav-tabs li.active a {
    border: none !important;
    border-bottom: none !important;
    color: #fff !important;
    background: transparent !important;
    border: 1px solid red;
}

.amenities-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
}

.amenities-flex .amenities-img,
.amenities-flex .desc {
    width: 50%;
    padding: 5em 4em;
}

@media screen and (max-width: 768px) {

    .amenities-flex .amenities-img,
    .amenities-flex .desc {
        padding: 1em;
    }
}

@media screen and (max-width: 768px) {
    .amenities-flex .amenities-img {
        width: 30%;
    }
}

.amenities-flex .desc {
    background: whitesmoke;
}

@media screen and (max-width: 768px) {
    .amenities-flex .desc {
        width: 70%;
    }
}

.amenities-flex .desc h2 {
    font-size: 24px;
}

.amenities-flex .desc h2 a {
    color: #000;
}

.amenities-flex .desc h2 a:hover {
    color: #4586FF;
}

.amenities-flex .desc .price {
    position: relative;
    font-family: "Playfair Display", Times, serif;
}

.amenities-flex .desc .price span {
    color: #000;
}

.amenities-flex .desc .price .currency {
    font-size: 30px;
    color: #4586FF;
}

.amenities-flex .desc .price .price-room {
    font-size: 50px;
    font-weight: 400;
    color: #4586FF;
}

.amenities-flex .desc .price .free {
    font-size: 40px;
    color: #F96D00;
}

.about {
    margin-bottom: 30px;
}

.contact-info-wrap {
    margin-bottom: 3em;
}

.contact-info-wrap p span {
    padding-right: 10px;
}

.contact-info-wrap p span i {
    font-size: 20px;
    color: #4586FF;
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 13px !important;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.form-control:focus,
.form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
    height: 50px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group .btn-modify {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px;
}

.colorlib-social-icons {
    margin: 0;
    padding: 0;
}

.colorlib-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.colorlib-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #4586FF;
    padding-left: 10px;
    padding-right: 10px;
}

.colorlib-social-icons li a i {
    font-size: 20px;
}

.head-title {
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}

.colorlib-heading {
    margin-bottom: 5em;
}

.colorlib-heading.colorlib-heading-sm {
    margin-bottom: 2em;
}

.colorlib-heading h2 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    position: relative;
}

.colorlib-heading h2:before,
.colorlib-heading h2:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    background: #e6e6e6;
    width: 130px;
    height: 1px;
    margin: 0 auto;
}

.colorlib-heading h2:after {
    top: -7px;
    width: 100px;
}

.colorlib-heading span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.colorlib-heading span i {
    color: #F7AF1D;
}

#colorlib-subscribe {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

#colorlib-subscribe .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 700;
}

#colorlib-subscribe .colorlib-heading h2 {
    color: #fff !important;
    font-size: 34px;
}

#colorlib-subscribe .colorlib-heading p {
    font-size: 18px;
}

.qbstp-header-subscribe .form-group {
    position: relative;
    width: 60%;
}

@media screen and (max-width: 480px) {
    .qbstp-header-subscribe .form-group {
        width: 100%;
    }
}

.qbstp-header-subscribe .form-group input::-webkit-input-placeholder {
    color: #333333;
}

.qbstp-header-subscribe .form-group input::-moz-input-placeholder {
    color: #333333;
}

.qbstp-header-subscribe .form-group input::-ms-input-placeholder {
    color: #333333;
}

.qbstp-header-subscribe .form-group input::-o-input-placeholder {
    color: #333333;
}

.qbstp-header-subscribe .form-group input::input-placeholder {
    color: #333333;
}

.qbstp-header-subscribe #email {
    font-size: 18px;
    width: 100%;
    padding-right: 3em;
    border: none;
    border: 2px solid #fff;
    background: #fff;
    color: #333333 !important;
}

.qbstp-header-subscribe button {
    position: absolute;
    top: 0;
    right: -4px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background: #4586FF;
    color: #fff;
    border: none;
    padding: 14px;
}

#colorlib-footer {
    background: #302939;
    color: rgba(255, 255, 255, 0.5) !important;
}

#colorlib-footer .colorlib-footer-links {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    #colorlib-footer .colorlib-footer-links {
        margin-bottom: 30px;
    }
}

#colorlib-footer .colorlib-footer-links li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: block;
}

#colorlib-footer .colorlib-footer-links li a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

#colorlib-footer .colorlib-footer-links li a:hover {
    text-decoration: underline;
}

#colorlib-footer .colorlib-social-icons li a {
    padding-left: 10px;
    padding-right: 10px;
}

#colorlib-footer .colorlib-social-icons li a:first-child {
    padding-left: 0;
}

#colorlib-footer h4 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

#colorlib-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 75px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #colorlib-offcanvas {
        display: block;
    }
}

.offcanvas #colorlib-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#colorlib-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
}

#colorlib-offcanvas a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#colorlib-offcanvas ul {
    padding: 0;
    margin: 0;
}

#colorlib-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#colorlib-offcanvas ul li>ul {
    padding-left: 20px;
    display: none;
}

#colorlib-offcanvas ul li.offcanvas-has-dropdown>a {
    display: block;
    position: relative;
}

#colorlib-offcanvas ul li.offcanvas-has-dropdown>a:after {
    position: absolute;
    right: 0px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e0c5";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#colorlib-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #f96d00;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
    text-decoration: none;
    outline: none;
}

.colorlib-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    top: 5em !important;
}

.colorlib-nav-toggle.active i::before,
.colorlib-nav-toggle.active i::after {
    background: #444;
}

.colorlib-nav-toggle:hover,
.colorlib-nav-toggle:focus,
.colorlib-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.colorlib-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.colorlib-nav-toggle i::before,
.colorlib-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.colorlib-nav-toggle.colorlib-nav-white>i {
    color: #fff;
    background: #000;
}

.colorlib-nav-toggle.colorlib-nav-white>i::before,
.colorlib-nav-toggle.colorlib-nav-white>i::after {
    background: #000;
}

.colorlib-nav-toggle i::before {
    top: -7px;
}

.colorlib-nav-toggle i::after {
    bottom: -7px;
}

.colorlib-nav-toggle:hover i::before {
    top: -10px;
}

.colorlib-nav-toggle:hover i::after {
    bottom: -10px;
}

.colorlib-nav-toggle.active i {
    background: transparent;
}

.colorlib-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background: #fff;
}

.colorlib-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background: #fff;
}

.colorlib-nav-toggle {
    position: absolute;
    right: 0px;
    top: 65px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .colorlib-nav-toggle {
        display: block;
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}

.btn.btn-md {
    padding: 8px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #4586FF;
    color: #fff;
    border: 2px solid #4586FF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #5f97ff !important;
    border-color: #5f97ff !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #4586FF;
    border: 2px solid #4586FF;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #4586FF;
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn.with-arrow:hover {
    padding-right: 50px;
}

.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #4586FF;
}

.row-pb-lg {
    padding-bottom: 6em !important;
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.colorlib-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}


/* login */
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    margin-bottom:120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
