.menu-1 {
    padding-left: 0;
    padding-right: 0;
}

.colorlib-nav ul li.has-dropdown .dropdown {
    top:26px;
}

label {
    font-size: initial !important;
}

.login {
    padding: 6em 0;
    clear: both;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

input, textarea, select {
    margin-bottom:10px;
}

.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.text-login {
    color:#302939;
}

.btn-login {
    background: #302939;
    color: #fff;
    border: 2px solid #302939;
}

.help-block{
    color:red;
    margin-top: -10px;
    margin-bottom:5px;
    font-style:italic;
}